#main-textbox{
  padding: 0 1rem;
  display: flow-root;
}

.horizontal-layout{
  display: flex;
  width: 100%;
}

.horizontal-layout>*{
  margin: 0 0.3em;
}

.side-panel{
  width: 15em;
}

.editor-block{
  flex-grow: 1;
}

.options-panel{
  background-color: darkgreen;
  margin-bottom: 0.5em;
}

.options-panel h4{
  margin-block: 0 0.2em;
  background-color: green;
  padding: 0.1em 0.5em;
}

.options-panel>*{
  padding: 0.1em 0.5em;
}

.options-panel>div>span{
  margin: 0.2em;
}

.options-headings-numbering-templates input{
  width: 7em;
}

.dialog-buttons-list {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 20px;
}

.dialog-buttons-list button {
  margin-bottom: 20px;
}