#main-textbox{
    font-family: 'CMU Serif', Arial;
    background-color: white;
    color: black;

    --fontsize-base : 10pt;

    --editor-scale : 1.5;

    --fontsize-normal: calc(var(--editor-scale)*var(--fontsize-base));
    --fontsize-large: calc(var(--fontsize-normal)*1.2);
    --fontsize-Large: calc(var(--fontsize-large)*1.2);
    --fontsize-LARGE: calc(var(--fontsize-Large)*1.2);
    --fontsize-huge: calc(var(--fontsize-LARGE)*1.2);
    --fontsize-HUGE: calc(var(--fontsize-huge)*1.2);
    --fontsize-tiny: calc(var(--fontsize-normal)/1.2);
    --fontsize-scriptsize: calc(var(--fontsize-tiny)/1.2);

    font-size: var(--fontsize-normal);
}

.editor-paragraph{
    --paragraph-indent : 1.5em;
    margin-block: 0;
}

.editor-paragraph + .editor-paragraph{
    text-indent: var(--paragraph-indent);
}

.editor-heading{
    font-weight: bold;
}

.editor-heading-section{
    font-size: var(--fontsize-Large);
    margin-block-start: 2.5ex;
    margin-block-end: 1ex;
}

.editor-heading-subsection{
    font-size: var(--fontsize-large);
}

.editor-heading-subsubsection, .editor-heading-subsection{
    margin-block-start: 2.2ex;
    margin-block-end: 0.7ex;
}

.editor-heading-subsubsection{
    font-size: var(--fontsize-normal);
}

.editor-numbered-heading:not([numberingstring=""])::before{
    content: attr(numberingstring);
    margin-right: 1em;
}

.editor-list-ul, .editor-list-ol{
    padding-inline-start: 2.4em;
    margin-block-start: 1.5ex;
    margin-block-end: 1ex;
}

.editor-listItem{
    margin-block-start: 1.4ex;
}

.editor-reference-heading{
    font-weight: bold;
}

.editor-bibliography h1{
    font-size: var(--fontsize-Large);
    margin-block-start: 2.5ex;
    margin-block-end: 1ex;
}

.editor-references-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8ex 0.8em;
}

.editor-latex{
    background-color: lightgreen;
    font-family: Helvetica, sans-serif;
}

.editor-textCode{
    font-family: "CMU Typewriter Text", monospace;
}

.editor-debug{
    background-color: magenta;
}