.editor-base{
    font-family: 'CMU Serif', serif;
    background-color: white;
    color: black;

    --fontsize-base : 10pt;

    --fontsize-normal: calc(var(--editor-scale)*var(--fontsize-base));
    --fontsize-large: calc(var(--fontsize-normal)*1.2);
    --fontsize-Large: calc(var(--fontsize-large)*1.2);
    --fontsize-LARGE: calc(var(--fontsize-Large)*1.2);
    --fontsize-huge: calc(var(--fontsize-LARGE)*1.2);
    --fontsize-Huge: calc(var(--fontsize-huge)*1.2);
    --fontsize-tiny: calc(var(--fontsize-normal)/1.2);
    --fontsize-scriptsize: calc(var(--fontsize-tiny)/1.2);

    font-size: var(--fontsize-normal);

    display: flow-root;
    outline: none;
    padding: 0.7rem;

    --paperwidth-base: 210mm;
    --paperheight-base: 297mm;

    --marginleft-base: 32mm;
    --marginright-base: 32mm;

    --topmargin-base: 36mm;

    --inch: 25.4mm;

    box-sizing: border-box;
}

.fullscreen .editor-base{
    height: 100%;
}

.editor-base.editor-dark{
    background-color: black;
    color: white;
}

.emulate-layout .editor-base.two-columns{
    column-count: 2;
}

.editor-container{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.emulate-layout .editor-base{
    box-sizing: border-box;
    width: calc(var(--paperwidth-base) * var(--editor-scale));
    padding-left: calc(var(--marginleft-base) * var(--editor-scale));
    padding-right: calc(var(--marginright-base) * var(--editor-scale));
    padding-bottom: calc(var(--marginbottom-base) * var(--editor-scale));
    padding-top: calc(var(--margintop-base) * var(--editor-scale));
}

.emulate-layout .editor-base > *{
    /*background-color: red;*/
}

.editor-paragraph:not(.editor-caption){
    --paragraph-indent : 1.5em;
    margin-block: 0;

    text-align: justify;
    text-justify: inter-word;
    text-align-last: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.editor-paragraph + .editor-paragraph{
    text-indent: var(--paragraph-indent);
}

.editor-heading{
    font-weight: bold;
}

.editor-heading-section{
    font-size: var(--fontsize-Large);
    margin-block-start: 2.5ex;
    margin-block-end: 1ex;
}

.editor-heading-subsection{
    font-size: var(--fontsize-large);
}

.editor-heading-subsubsection, .editor-heading-subsection{
    margin-block-start: 2.2ex;
    margin-block-end: 0.7ex;
}

.editor-heading-subsubsection{
    font-size: var(--fontsize-normal);
}

.editor-numbered-heading:not([numberingstring=""])::before{
    content: attr(numberingstring);
    margin-right: 1em;
}

.editor-figure{
    margin-block: calc(12pt * var(--editor-scale));
}

.editor-caption::before{
    content: attr(prefix);
}

.editor-list-ul, .editor-list-ol{
    padding-inline-start: 2.4em;
    margin-block-start: 1.5ex;
    margin-block-end: 1ex;
}

.editor-listItem{
    margin-block-start: 1.4ex;
}

.editor-bibliography h1{
    font-size: var(--fontsize-Large);
    margin-block-start: 2.5ex;
    margin-block-end: 1ex;
}

.editor-references-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8ex 0.8em;
}

.editor-latex{
    background-color: lightgreen;
    font-family: Helvetica, sans-serif;
}

.editor-textCode{
    font-family: "CMU Typewriter Text", monospace;
}

.editor-debug{
    background-color: magenta;
}

.editor-figure{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.editor-figure > *{
    text-align: center;
}

.editor-base img.focused, .editor-base canvas.focused{
    outline: solid var(--selection-primary) 3px;
    filter: sepia(1) saturate(3) hue-rotate(140deg);
}

.editor-reference .selected, .editor-citation .selected{
    color : var(--selection-primary);
}

.editor-base a {
  text-decoration: none;
  color: inherit;
}

.editor-base .editor-reference a {
    border: solid blue 1px;
}

.editor-title{
    font-weight: normal;
    text-align: center;
    margin-top: 3ex;
    margin-bottom: 2ex;
    line-height: 1.2;
    column-span: all;
}

.editor-base:not(.two-columns) .editor-abstract{
    margin: 3ex 2.6em;
}

.editor-abstract::before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1ex;
}

.two-columns .editor-abstract::before{
    text-align: left;
    font-size: var(--fontsize-Large);
}

.editor-abstract .editor-paragraph{
    text-indent: var(--paragraph-indent); /* Always indented */
}

.editor-author-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--fontsize-large);
    column-span: all;
}

.editor-author + .editor-author::before{
    content: ", ";
}

.editor-author + .editor-author:last-child::before{
    content: ", and ";
}

.editor-author + .editor-author:nth-child(2):last-child::before{
    content: " and ";
}

.editor-author-list:not(:has(+ .editor-affiliation-list)), .editor-affiliation-list { /* Author list but no affiliation. Or affiliation list if it exists. */
    margin-bottom: 6.5ex;
}

.editor-affiliation-list{
    text-align: center;
    font-size: var(--fontsize-large);
    margin-top: 1.2ex;
    column-span: all;
}

/*
.editor-affiliation::before{
    content: attr(data-symbol);
    vertical-align: super;
    font-size: 0.75em;
}

.editor-author::after{
    content: attr(data-affiliations);
    vertical-align: super;
    font-size: 0.75em;
}*/

.emulate-layout .editor-pagebreak{
    height: 5ex;
    background-color:var(--bg-contrasted);
    color: var(--text-muted);
    display: flex;
    align-items: center;
    justify-content: center;
    column-span: all;
    margin-top: calc((var(--marginbottom-base)) * var(--editor-scale));
    margin-bottom: calc(var(--margintop-base) * var(--editor-scale));
    margin-left: calc( -1 * var(--marginleft-base) * var(--editor-scale));
    margin-right: calc( -1 * var(--marginright-base) * var(--editor-scale));
}

.editor-container:not(.emulate-layout) .editor-pagebreak{
    display: none;
}