:root {
  font-family: system-ui, sans-serif;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  border: 0;
}

button:not([disabled]){
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nopadding{
  padding: 0 !important;
}

.bold{
  font-weight: bold;
}

h3, h4, h5{
  margin-block: 0.5em;
}

.span2cols{
  grid-column: span 2;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.hidden{ 
  display: none !important; 
}